*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Afectando Etiqueta*/
html {scroll-behavior: smooth;}

/*Afectando Header*/
header {
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Afectando Nav*/
nav{
    width: auto;
    color: white;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
    transition: 0.5s;
}

nav a:hover {
    background-color: darkcyan;
}

/*Afectando Clase*/
section{
margin-top: 20px;
width: 80%;
height: auto;
background-color: #333;
color: rgb(238, 238, 238);
padding: 25px;
border-radius: 10px;
}

main {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Afectando ID*/